.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.dot {
  stroke: #000;
}
table {
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid black;
}

td {
    width: 200px;
}
